<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx.xsd
                           ">

    <context:component-scan base-package="pl.edu.amu.wmi.pointofsale.*"/>
    <tx:annotation-driven/>

    <bean id="connectionFactory" class="org.apache.activemq.pool.PooledConnectionFactory" destroy-method="stop">
        <property name="connectionFactory">
            <bean class="org.apache.activemq.ActiveMQConnectionFactory">
                <property name="brokerURL" value="tcp://localhost:61616"/>
            </bean>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.jms.connection.JmsTransactionManager">
        <property name="connectionFactory" ref="connectionFactory"/>
    </bean>
    
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="sessionTransacted" value="true"/>
    </bean>

    <bean id="sellProductTopic" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg value="sellProductTopic"/>
    </bean>
    
    <bean id="productSaleService" class="pl.edu.amu.wmi.pointofsale.service.ProductSaleService">
        <property name="jmsTemplate" ref="jmsTemplate" />
        <property name="reportingTopic" ref="sellProductTopic" />  
    </bean>

    <bean id="pointOfSaleHolder" class="pl.edu.amu.wmi.pointofsale.PointOfSaleHolder">
    </bean>

    <bean id="productListService" class="pl.edu.amu.wmi.pointofsale.service.ProductListService">
        <property name="posHolder" ref="pointOfSaleHolder"/>
    </bean>

    <bean id="productListTopic" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg value="productListTopic"/>
    </bean>

    <bean id="productListListenerContainer" class="org.springframework.jms.listener.SimpleMessageListenerContainer">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="messageListener" ref="productListService"/>
        <property name="destination" ref="productListTopic"/>
    </bean>
    
    <bean id="productPriceChangeTopic" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg value="productPriceChangeTopic"/>
    </bean>
    
    <bean id="productPriceChangeService" class="pl.edu.amu.wmi.pointofsale.service.PriceService">
        <property name="posHolder" ref="pointOfSaleHolder"/>
    </bean>
    
    <bean id="productPriceChangeContainer" class="org.springframework.jms.listener.SimpleMessageListenerContainer">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="messageListener" ref="productPriceChangeService"/>
        <property name="destination" ref="productPriceChangeTopic"/>
    </bean>


</beans>